:root {
  --mainColorDark: #363377;
  --mainColorDark2: #0b083b;
  --mainColorLight: #827fb2;
  --mainColorLight2: #595594;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  margin: 1%;
  background-color: var(--mainColorDark);
  display: block;
  color: var(--mainColorLight);
}
